fastapi
uvicorn[standard]
pydantic
python-dotenv
supabase
google-cloud-storage
google-cloud-aiplatform
google-cloud-redis
google-cloud-bigquery
vertexai
google-generativeai
google-cloud-logging
cryptography
redis
httpx
protobuf
