{% extends "_base.html" %}
{% block title %}Workspace Invitation{% endblock %}
{% block content %}
<h1>You've been invited to {{ workspace_name }}</h1>
<p><strong>{{ inviter_name }}</strong> has invited you to collaborate on the <strong>{{ workspace_name }}</strong> workspace in Raptorflow.</p>
<a href="{{ invite_url }}" class="btn">Accept Invitation</a>
<hr class="divider">
<p style="font-size: 13px;">This invitation link will expire in 7 days. If you don't have a Raptorflow account, one will be created for you when you accept.</p>
{% endblock %}
